h1 {
  padding-top: 0.5em;
  color: #4caf50;
  text-shadow: 2px 2px 5px #81c784;
}

header{
  padding-left: 1em;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: darkgray;
}
