main {
  padding-left: 2em;
  font-family: sans-serif;
}

h2 {
  color: #00bcd4;
}

label{
  color: #673ab7;
}

div.choice-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

img.choice {
  width: 60px;
}

span.result{
  color: #ff9800;
  font-weight: bolder;
  font-style: oblique;
}
