<main>
  <h2>Select your choice</h2>
  <div style="display: flex; flex-direction: column">
    <mat-card appearance="raised"
              [class.elevated]="userChoice==Choice.PAPER"
              (click)="setUserChoice(Choice.PAPER)">
      <mat-card-content mat-ripple>
        <img mat-card-image class="choice" src="/images/paper.png" alt="paper">
        <mat-radio-button [checked]="userChoice==Choice.PAPER">Paper</mat-radio-button>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="raised"
              [class.elevated]="userChoice==Choice.ROCK"
              (click)="setUserChoice(Choice.ROCK)">
      <mat-card-content mat-ripple>
        <img class="choice" src="/images/rock.png" alt="rock">
        <mat-radio-button [checked]="userChoice==Choice.ROCK">Rock</mat-radio-button>
      </mat-card-content>
    </mat-card>
    <mat-card appearance="raised"
              [class.elevated]="userChoice==Choice.SCISSORS"
              (click)="setUserChoice(Choice.SCISSORS)">
      <mat-card-content mat-ripple>
        <img class="choice" src="/images/scissors.png" alt="scissors">
        <mat-radio-button [checked]="userChoice==Choice.SCISSORS">Scissors</mat-radio-button>
      </mat-card-content>
    </mat-card>
  </div>
  <p>
    <button mat-flat-button routerLink="/output" (click)="play()">Play</button>
  </p>
</main>
